<header class="header-section">
    <div class="container-fluid header-container">
        <div class="header-content">
            <h2>OUR PROJECTS</h2>
            <!-- <p>We stand as a dynamic and progress across key sectors in Sri Lanka</p> -->
        </div>
    </div>
  </header>

  <div  class="container mt-3">
    <div id="carouselExampleAutoplaying" class="carousel slide container" data-ride="carousel" (mouseenter)="stopAutoplay()" (mouseleave)="startAutoplay()">
        <div class="carousel-inner">
          <div *ngFor="let slide of currentProject?.slides; let i = index" class="carousel-item" [class.active]="i === currentIndex">
            <div class="d-flex justify-content-center align-items-center carousel-background">
                <div style="width:70%; height: 100%; display: flex; justify-content: center; align-items: center;">
                    <img [src]="slide.picture" alt="...">
                </div>
    
            </div>
        </div>
         
        </div>
        <button class="carousel-control-prev" type="button" (click)="prevSlide()">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only"></span>
        </button>
        <button class="carousel-control-next" type="button" (click)="nextSlide()">
          <span class="carousel-control-next-icon  " aria-hidden="true"></span>
          <span class="sr-only"></span>
        </button>
      </div>

   
        <div class="row gy-4 mt-1 ms-3">

            <div class="col-lg-12">
              <div>
                <h2>{{currentProject.title}}</h2>
                <p>
                 {{currentProject.description}}
                </p>
          
  
              </div>
            </div>
  
            <div class="col-lg-12">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Project Type </strong> <span>:{{currentProject.type}}</span></li>
                  <li><strong>Client </strong> <span>:{{currentProject.client}}</span></li>
                  <li><strong>Location </strong> <span>:{{currentProject.location}}</span></li>
                  <li><strong>Project Cost </strong> <span>:{{currentProject.cost}}</span></li>
                  <li><strong>Duration </strong> <span>:{{currentProject.duration}}</span></li>
                  <li *ngIf="currentProject.estimatedCost"><strong>Estimated Project Cost </strong> <span>:{{currentProject.estimatedCost}}</span></li>
                  <li *ngIf="currentProject.estimatedDuration"><strong>Estimated Duration </strong> <span>:{{currentProject.estimatedDuration}}</span></li>
                


                  
                </ul>
              </div>
            </div>
  
          </div>
    
  </div>

 

