
.navbar{
  
  color: white;
  height: 70px;
}


.nav-link{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.2rem;

}
.logo-navbar{
  background-position: center;
  background-image: url('../../../assets/WiseCapital.png');
  background-size: cover;
  height:100%;
  width: 39px;
  padding: 0;
}
.brand-name{
  font-size: 2rem;
  color:#20a7d8;
  
 }
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: white;
  
  padding: 5px;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  border: none;
  border-radius: 0;
 
}
.hove-link{
  font-size: 1.2rem;
}
.header-div-tab :hover{
  background-color: #20a7d8;
  color: white;
}
.dropdown-content>a{
text-decoration: none;
}

//spofhpasofhasrf
.hove-link-mobile{
  font-size: 1.3rem;
}
.header-div-tab-mobile :hover{
  background-color: rgba(0, 174, 255, 0.233);
  
}
.header-div-tab-mobile{
  height: 35px;
 
}
.div-mobile{
  background-color: rgba(12, 112, 158, 0.1);
  
  width: 100%;
}
.bold-text {
  
  color:  #20a7d8;
}