 <!-- Header Section -->
 <header class="header-section">
    <div class="container-fluid header-container">
        <div class="header-content">
            <h2>MEET OUR PROFESSIONALS</h2>
            <!-- <p>We stand as a dynamic and progress across key sectors in Sri Lanka</p> -->
        </div>
    </div>
</header>

<!-- Main Content Section -->
<div class="container pt-3 mb-4 " >
  
    <div class="row" >
        
     <div class="col-sm-4 mt-3 mt-sm-4 ">
      <div class="custom-box " id="image-container">
        <!-- <h2>Access the Nation</h2> -->
        <div id="main-container">
          <img id="member-image" src="../../../assets/dayananda.png" alt=""></div>

        <p class="p-2"> <span id="name"><strong>R.K.Dayananda </strong></span><br>
          <span id="position">Director</span><br>
          <span id="description"></span>
      </p>
     
      </div>
    </div>

    <div class="col-sm-4 mt-3 mt-sm-4 ">
      <div class="custom-box " id="image-container">
        <!-- <h2>Access the Nation</h2> -->
        <div id="main-container">
          <img id="member-image" src="../../../assets/chandrika.png" alt=""></div>

        <p class="p-2"> <span id="name"><strong>M.T.Chandrika Malkanthi</strong></span><br>
          <span id="position">Director</span><br>
          <span id="description"></span>
      </p>
     
      </div>
    </div>
      

      <!-- <div class="col-sm-4  mt-3-sm-4">
        <div class="custom-box" id="image-container">
         
          <div id="main-container"> 
            <img id="member-image" src="../../../assets/5.png" alt="">
          </div>
          
          <p class="p-2"> <span id="name"><strong>Anupa Dayananda</strong></span><br>
            <span id="position">CEO</span><br>
            <span id="description">B.Sc (Hons) Engineering, University of Moratuwa, AMIESL.</span>
        </p>
       
        </div>
      </div> -->

      <div class="col-sm-4 mt-3 mt-sm-4 ">
        <div class="custom-box " id="image-container">
          <!-- <h2>Access the Nation</h2> -->
          <div id="main-container">
            <img id="member-image" src="../../../assets/5.png" alt=""></div>
  
            <p class="p-2"> <span id="name"><strong>Anupa Dayananda</strong></span><br>
              <span id="position">Chief Engineer</span><br>
              <span id="description">B.Sc (Hons) Engineering, University of Moratuwa, AMIESL.</span>
          </p>
       
        </div>
      </div>
      <div class="col-sm-4 mt-3 mt-sm-4">
        <div class="custom-box" id="image-container">
          <!-- <h2>Access the Nation</h2> -->
          <div id="main-container">
            <img id="member-image" src="../../../assets/2.png" alt="">
          </div>
          
          <p class="p-2"> <span id="name"><strong>Kaveendra Randeera</strong></span> <br>
            <span id="position">Quality Engineer</span><br>
            <span id="description">B.Sc (Hons) Engineering, University of Moratuwa, AMIESL.</span>
        </p>
  
        </div>
      </div>

      <div class="col-sm-4 mt-3 mt-sm-4">
        <div class="custom-box" id="image-container" >
          <!-- <h2>Access the Nation</h2> -->
          <div id="main-container" >
            <img id="member-image" src="../../../assets/4.png" alt="">
          </div>
          
          <p class="p-2"><span id="name"><Strong>Kavishka Vidanapathirana</Strong></span> <br>
            <span id="position">Planning Engineer</span> <br>
            <span id="description" class="">B.Sc (Hons) Engineering, SLIIT.</span>
        </div>
      </div>

     


      <div class="col-sm-4 mt-3 mt-sm-4 ">
        <div class="custom-box "id="image-container">
          <div id="main-container">
            <img id="member-image" src="../../../assets/1.png" alt="">
          </div>
          <!-- <h2>Access the Nation</h2> -->
          
          <p class="p-2"><span id="name"><Strong>Samadhi Bandara</Strong></span> <br>
            <span id="position">Legal Executive</span> <br>
            <span id="description" class="">LL.M (UK) International Business law sp. in ICT and IP Law/ PGD(J'pura) Criminology and Criminal Justice/ LL.B(Hons) Peradeniya/ Dip. HRM/Dip. IR.</span>
        </p>
        </div>
      </div>
      <div class="col-sm-4 mt-3 mt-sm-4 ">
        <div class="custom-box " id="image-container">
          <!-- <h2>Access the Nation</h2> -->
          <div id="main-container">
            <img id="member-image" src="../../../assets/3.png" alt=""></div>

          <p class="p-2"> <span id="name"><strong>Erandi Kaushalya Madarasingha </strong></span><br>
            <span id="position">Accountant</span><br>
            <span id="description">B.Sc Operations and Technology Management (Special), University of Jayawardhanapura.</span>
        </p>
       
        </div>
      </div>
  
  
   
 
   <div class="col-sm-4 mt-3 mt-sm-4 ">
    <div class="custom-box " id="image-container">
      <!-- <h2>Access the Nation</h2> -->
      <div id="main-container">
        <img id="member-image" src="../../../assets/tharaka.png" alt=""></div>

      <p class="p-2"> <span id="name"><strong>Tharaka Silva</strong></span><br>
        <span id="position">Structural engineer</span><br>
        <span id="description">Bsc engineering (Hons), University of Moratuwa.</span>
    </p>
   
    </div>
  </div>


 <div class="col-sm-4 mt-3 mt-sm-4">
  <div class="custom-box " id="image-container">
    <!-- <h2>Access the Nation</h2> -->
    <div id="main-container">
      <img id="member-image" src="../../../assets/sanduni.png" alt=""></div>

    <p class="p-2"> <span id="name"><strong>Sanduni Gurusinghe</strong></span><br>
      <span id="position">Quantity surveyor</span><br>
      <span id="description">Department of technical education and training.</span>
  </p>
 
  </div>
</div>

<!-- <div class="col-sm-2 d-none d-sm-block"></div> -->
    </div>
</div>