.header-section {
    position: relative;
    background: url('../../../assets/cover.jpeg') center/cover no-repeat;
    color: #fff;
    padding: 100px 0;
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
  }
  
  
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#0c4e6d; /* Add a semi-transparent blue background */
    opacity: 0.7;
    padding: 20px;
  }
  
  .header-content h2 {
    font-size: 32px;
  }
  
  .custom-box {
    background-color: rgba(189, 31, 31, 0.5);
  
    
    border: 1px solid #ffffff;
    padding: 20px; /* Adjust the padding as needed */
    height: 300px; /* Set a fixed height for all boxes */
    transition: background 299ms ease 0s;
    box-shadow: none;
    margin: 0;
    margin-bottom: 30px;
  }
  
  .custom-box h2 {
    font-family: 'Poppins';
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .custom-box h3 {
    font-family: 'Poppins';
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .custom-box p {
    color: #ffffff;
  }
  
  .custom-box a {
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    background: white; 
    /*color: #942736; */
    position: relative;
    z-index: 2;
    color:#0c4e6d; /* Set text color */
    border-radius: 0;
  }
  
  .custom-box a:hover {
    background-color: grey;
    color: #ffffff;
  }
  
  .custom-box:hover {
    color: #ffffff;
  }
  
  
  .row>div:first-child>div{
    background: url('../../../assets/loan.jpeg') center/cover no-repeat;
    
  }
  .row>div:nth-child(2)>div{
    background: url('../../../assets/construction.jpeg') center/cover no-repeat;
    
  }
  .row>div:nth-child(3)>div{
    background: url('../../../assets/car.png') center/cover no-repeat;
    
  }
  .row>div:nth-child(4)>div{
    background: url('../../../assets/stationary.jpeg') center/cover no-repeat;
    
  }
  

  
  .custom-box {
    position: relative;
    overflow: hidden;
    background-color: rgba(189, 31, 31, 0.5);
    /* ... your existing styles ... */
    transition: background 299ms ease 0s, transform 0.3s ease; /* Add transition for background and transform */
  
  }
  
  .custom-box:hover {
    /* background-color: red; */
    color: #ffffff;
    transform: scale(1.05); /* Zoom in by 5% on hover */
  }
  
  .custom-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease; /* Add transition for a smooth effect */
  }
  
  .custom-box:hover::before {
    background-color:#0c4e6d;
    opacity: 0.9;
  }
  
  
  .custom-box h2,
  .custom-box h3,
  .custom-box p {
    position: relative;
    z-index: 2;
    color: #fff; /* Set text color */
  }