.outer-div {
  background-image: url('../../../assets/christoph-theisinger-9PPYa3LK6II-unsplash.jpg'); /* Replace with the actual path to your image */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  color: #fff; /* Set text color to white or a contrasting color */
  height: 630px;
  width: 100%;
 
 
}


.home-logo {
 
  height: 225px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}
.carousel img {
  width: 90%;
  transition: transform 0.5s ease-in-out;
  margin: 10px;
}

.carousel img.active {
  transform: translateX(0%);
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the carousel */
  transition: transform 0.5s ease-in-out;
}
.welcome-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #20a7d8;
}

.welcome-text {
  
  color: rgb(255, 255, 255);
  
  animation: fadeInUp 2s forwards;
}
.welcome-text-quote{
  font-size: 5rem;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(2px)

 
}
.animation{
  animation: fadeInUp 2s forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  background-color: #131417;  
}

.container-this{
  color: #ffffff;
  opacity: 0.6;
  font-size: 2.0rem;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child
{
  animation: text-animation 15s infinite;
}

.first div {
  
  color: #ffffff;
  
}
.second div {
  
  color: rgb(255, 255, 255);
}
.third div {
 
  color: rgb(255, 255, 255);

}
.fourth div{

  color: rgb(255, 255, 255);
}

@keyframes text-animation {
  0%,10% { margin-top: 0; }
  18%,28% { margin-top: -5.62rem; }
  34%,44% { margin-top: -11.24rem; }
  50%,60% { margin-top: -16.86rem; }
  66%,76% { margin-top: -11.24rem; }
  82%,92% { margin-top: -5.62rem; }
  100% { margin-top: 0; }
}
.welcome-font{
  color: #2887aa;
}
.carousel-background{
  background-color: #49a2c2;
}



.text-carousel{
  width: 90%;
 
}


// animaition for quaote


@keyframes lights {
  0% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}



.welcome-text {
  margin: auto;

  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}