<!-- Header Section -->
<header class="header-section">
  <div class="container-fluid header-container">
      <div class="header-content">
          <h2>ABOUT WISE CAPITAL</h2>
          <!-- <p>We stand as a dynamic and progress across key sectors in Sri Lanka</p> -->
      </div>
  </div>
</header>

<!-- Main Content Section -->
<div class="container" id="content">
  <div class="row">
      <div class="col-md-8" id="txt">
          <h2>Get To Know Us</h2>
          <p>
              Wise Capital is Founded in 2018 under registration number PV00284699, our company is a versatile hub offering a range of services. From providing loans to shaping the construction landscape, dealing in vehicle transactions, and supplying stationery, we're more than just a business; we're a solution. Our story is built on financial support, construction expertise, and the art of buying and selling vehicles. We add a touch of creativity through our stationery supplies, turning everyday moments into memorable experiences. Our journey goes beyond transactions; it's about creating lasting impressions. We stand tall as a dynamic force, providing solutions that brighten lives. Join us in painting a collective future where every effort matters, and together, we'll continue to grow, adapt, and make a positive impact in various sectors. Our narrative is open, waiting for your unique contributions to shape the next chapter of success.
          </p>
      </div>
      <div class="col-md-4 h3">
          <img src="../../../assets/1.jpg" alt="about" class="img-fluid">
      </div>
  </div>
</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->

<!-- Custom JS -->


      