<div class="container-fluid">
  <!-- Header Section -->
  <div class="header">
      <div class="header-content text-dark">
          <h2>Engineering & Constructions</h2>
          <!-- <p>Access to Renewable Energy</p> -->
          <p>Discover excellence in construction with our dedicated services, encompassing house construction,
              roof and ceiling installation, building renovation, and meticulous maintenance. 
              We take pride in ensuring legal clarity at every step, providing signed documents for stage-wise payments, 
              offering you transparency and peace of mind. Our commitment to affordability meets quality construction, 
              where skilled artisans bring your vision to life. 
              Trust in our established reputation—we don't require advance payments, 
              a testament to our confidence in delivering excellence. Choose a construction partner that prioritizes your dreams, 
              delivering high-quality results without compromise. Welcome to a trusted construction experience that blends expertise, 
              affordability, and transparency, setting new benchmarks in the industry.</p>
      </div>
  </div>
</div>