footer {
    padding: 20px 0;
    background-color: #0c4e6d;
    
  }
  
  /* Style footer links */
  footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* Change link color on hover */
  footer a:hover {
    color: #f8f8f8;
  }